.wrapper {
  margin: 0 auto;
  max-width: 960px;
  max-width: 680px;
  padding-top: 100px;
  position: absolute;
}


.card1{
  left: 200px;
position: absolute;
padding:0px 0px 5px 30px;
}


.card2{
  position: absolute;
  left: 200px;
  top: 250px;
  padding:45px 100px 100px 100px;
}

.card3{
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 100px;
  padding-bottom: 50px;
  left: 600px;

}



input {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  font-family: inherit;
}

.linkedbutton {
  position: absolute;
  left: 250px;
  border: 2px solid black;
  border-radius: 10px;
  bottom: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}