input {
  outline: none;
  margin: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
}

.font-robo {
  font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
}



.body {
  background-color: #4286f4;
}

